In [6]:
import nltk
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

### In the `read_csv` function, we have passed a parameter for *encoding*, because our data set contains non-english words that's not supported by the default pandas `read_csv` function.

In [34]:
dataset = pd.read_csv('./labeled_data.csv', encoding='ISO-8859-1')
dataset.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [11]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,24783.0,12681.192027,7299.553863,0.0,6372.5,12703.0,18995.5,25296.0
count,24783.0,3.243473,0.883060,3.0,3.0,3.0,3.0,9.0
hate_speech,24783.0,0.280515,0.631851,0.0,0.0,0.0,0.0,7.0
offensive_language,24783.0,2.413711,1.399459,0.0,2.0,3.0,3.0,9.0
neither,24783.0,0.549247,1.113299,0.0,0.0,0.0,0.0,9.0
class,24783.0,1.110277,0.462089,0.0,1.0,1.0,1.0,2.0

In [37]:
dt_transformed = dataset[['class', 'tweet']]
dt_transformed.head()

   class                                              tweet
0      2  !!! RT @mayasolovely: As a woman you shouldn't...
1      1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2      1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3      1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4      1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [47]:
# Clean the data

import re

In [45]:

# Bag of Words

tweets = dt_transformed[['tweet']]
tweet_list = [tweet for tweet in dt_transformed['tweet']]

vectorizer = CountVectorizer()
vectorizer.fit(tweet_list[:100])
vectorizer.vocabulary_

{'rt': 423,
 'mayasolovely': 328,
 'as': 53,
 'woman': 566,
 'you': 586,
 'shouldn': 443,
 'complain': 146,
 'about': 26,
 'cleaning': 140,
 'up': 533,
 'your': 588,
 'house': 270,
 'amp': 43,
 'man': 325,
 'should': 442,
 'always': 41,
 'take': 480,
 'the': 497,
 'trash': 522,
 'out': 381,
 'mleew17': 337,
 'boy': 97,
 'dats': 169,
 'cold': 143,
 'tyga': 530,
 'dwn': 189,
 'bad': 64,
 'for': 215,
 'cuffin': 156,
 'dat': 167,
 'hoe': 265,
 'in': 280,
 '1st': 9,
 'place': 391,
 'urkindofbrand': 535,
 'dawg': 170,
 '80sbaby4life': 18,
 'ever': 199,
 'fuck': 219,
 'bitch': 82,
 'and': 44,
 'she': 438,
 'start': 469,
 'to': 513,
 'cry': 154,
 'be': 69,
 'confused': 148,
 'shit': 440,
 'c_g_anderson': 113,
 'viva_based': 542,
 'look': 313,
 'like': 306,
 'tranny': 521,
 'shenikaroberts': 439,
 'hear': 252,
 'me': 330,
 'might': 334,
 'true': 524,
 'or': 377,
 'it': 285,
 'faker': 209,
 'than': 491,
 'who': 562,
 'told': 516,
 'ya': 577,
 '57361': 16,
 't_madison_x': 478,
 'just': 292,
 'blows': 90,
 'claim': 138,
 'so': 461,
 'faithful': 208,
 'down': 185,
 'somebody': 464,
 'but': 108,
 'still': 471,
 'fucking': 221,
 'with': 565,
 'hoes': 266,
 '128514': 2,
 '__brighterdays': 23,
 'can': 116,
 'not': 366,
 'sit': 454,
 'hate': 247,
 'on': 374,
 'another': 46,
 'got': 239,
 'too': 518,
 'much': 345,
 'going': 236,
 '8220': 20,
 'selfiequeenbri': 433,
 'cause': 125,
 'tired': 512,
 'of': 370,
 'big': 78,
 'bitches': 83,
 'coming': 145,
 'us': 536,
 'skinny': 456,
 'girls': 233,
 '8221': 21,
 'get': 230,
 'back': 63,
 'thats': 496,
 'that': 494,
 'rhythmixx_': 417,
 'hobbies': 264,
 'include': 281,
 'fighting': 212,
 'mariam': 327,
 'keeks': 294,
 'is': 284,
 'curves': 159,
 'everyone': 202,
 'lol': 312,
 'walked': 546,
 'into': 283,
 'conversation': 149,
 'this': 507,
 'smh': 458,
 'murda': 346,
 'gang': 226,
 'its': 286,
 'land': 302,
 'smoke': 459,
 'are': 50,
 'losers': 316,
 'yea': 579,
 'go': 234,
 'ig': 277,
 'only': 376,
 'thing': 505,
 'off': 371,
 'nigga': 359,
 'miss': 336,
 'plz': 393,
 'whatever': 558,
 'do': 175,
 'love': 318,
 'cut': 160,
 'everyday': 201,
 'black': 86,
 'bottle': 94,
 'broke': 101,
 'cant': 119,
 'tell': 489,
 'nothing': 367,
 'cancel': 117,
 'nino': 363,
 'see': 431,
 'these': 502,
 'wont': 567,
 'change': 134,
 'no': 365,
 'dont': 183,
 'even': 198,
 'suck': 475,
 'dick': 172,
 'kermit': 295,
 'videos': 541,
 'bout': 96,
 'tip': 511,
 'toeing': 514,
 'my': 351,
 'hardwood': 246,
 'floors': 213,
 'http': 273,
 'co': 142,
 'cou2wq5l4q': 150,
 'her': 258,
 'pussy': 402,
 'lips': 309,
 'heaven': 253,
 'doors': 184,
 '128524': 4,
 'what': 557,
 'hitting': 263,
 'met': 332,
 'ocean': 369,
 'dr': 186,
 'gave': 227,
 'pill': 388,
 'need': 353,
 'trippy': 523,
 'hennessy': 257,
 'spend': 468,
 'money': 340,
 'how': 271,
 'want': 548,
 'business': 107,
 'txt': 529,
 'old': 373,
 'new': 356,
 'wetter': 555,
 'say': 427,
 'im': 278,
 'would': 573,
 'excited': 203,
 'if': 276,
 'aint': 35,
 'murder': 347,
 'game': 225,
 'shut': 447,
 're': 410,
 'toes': 515,
 'ain': 34,
 'done': 182,
 'stinks': 472,
 'bitter': 85,
 'wrap': 576,
 'angry': 45,
 'bird': 80,
 'theres': 501,
 'app': 49,
 'jus': 291,
 'meet': 331,
 'son': 465,
 'now': 368,
 'he': 250,
 'mane': 326,
 'ass': 55,
 'shots': 441,
 'lames': 301,
 'crying': 155,
 'over': 382,
 'tears': 488,
 'clown': 141,
 'snoop': 460,
 'said': 426,
 '94': 22,
 'we': 553,
 'momma': 339,
 'cats': 124,
 'inside': 282,
 'doghouse': 180,
 'most': 343,
 'hated': 248,
 'favorite': 210,
 '2mw': 13,
 'sevenone': 436,
 'bmdsvmc3rc': 91,
 'nice': 357,
 'make': 322,
 'naughty': 352,
 'yello': 582,
 'real': 412,
 'body': 92,
 'south': 467,
 'chick': 135,
 'em': 196,
 'thick': 504,
 'bzrdl3kf7u': 112,
 'pimps': 389,
 'future': 224,
 'voice': 543,
 'post': 394,
 'picture': 385,
 '200': 10,
 'likes': 307,
 'powerful': 396,
 'drug': 188,
 '128517': 3,
 'happyhumpday': 245,
 'r8jsymib5b': 407,
 'quick': 405,
 'piece': 386,
 'call': 115,
 'drive': 187,
 'by': 111,
 'running': 424,
 'round': 422,
 'here': 259,
 'some': 463,
 'brand': 98,
 'fucked': 220,
 'worst': 572,
 'they': 503,
 'll': 310,
 'send': 434,
 'them': 499,
 'guys': 242,
 'niggas': 361,
 'talk': 481,
 'trust': 526,
 'all': 36,
 'yall': 578,
 'cuffing': 157,
 'never': 355,
 'have': 249,
 'dodge': 176,
 'bullet': 106,
 'darealkha': 166,
 'da': 163,
 'pregnant': 398,
 'bound': 95,
 'thank': 492,
 'god': 235,
 '128591': 7,
 'young': 587,
 'chamberlain': 131,
 'music': 348,
 'vandalsavage_': 538,
 'teanna': 487,
 'trump': 525,
 'probably': 399,
 'cleaner': 139,
 'twitter': 528,
 'dahomiefuzz': 164,
 'gay': 228,
 'couldn': 152,
 'wait': 545,
 'act': 27,
 'tonight': 517,
 'the_paradox': 498,
 'ima': 279,
 'steal': 470,
 'his': 262,
 'cat': 123,
 'replace': 414,
 'pitbull': 390,
 'gone': 237,
 'took': 519,
 'tic': 509,
 'tacs': 479,
 'movie': 344,
 'wanna': 547,
 'model': 338,
 'russell': 425,
 'simmons': 451,
 '2015seniorprobs': 11,
 'wouldn': 574,
 '8217': 19,
 'mind': 335,
 'school': 429,
 'didn': 173,
 'deal': 171,
 'teachers': 486,
 'retweet': 416,
 'a7xdemery': 25,
 'fag': 205,
 'arizzleindacut': 52,
 'females': 211,
 'think': 506,
 'dating': 168,
 'cute': 161,
 'vxbjg26gsz': 544,
 'does': 178,
 'doing': 181,
 'stuff': 474,
 'him': 261,
 'addicted2guys': 28,
 'simplyaddictedtoguys': 452,
 '1jl4hi8zmf': 8,
 'woof': 569,
 'hot': 269,
 'scally': 428,
 'lad': 300,
 'adorebellaaa': 30,
 'asked': 54,
 'other': 380,
 'kanye': 293,
 'yes': 583,
 'adorezoey': 31,
 'bring': 99,
 'ur': 534,
 'side': 449,
 'where': 560,
 'know': 299,
 'gf': 231,
 'friends': 218,
 'at': 56,
 '128553': 5,
 'swear': 477,
 'allaboutmanfeet': 37,
 '3gzupfumev': 15,
 'soles': 462,
 'allyhaaaaa': 38,
 'lemmie': 304,
 'eat': 193,
 'oreo': 378,
 'dishes': 174,
 'one': 375,
 'almightywayne__': 39,
 'jetsandaswisher': 289,
 'gook____': 238,
 'pxmga68nc1': 403,
 'maybe': 329,
 'better': 77,
 'tprevwfq0s': 520,
 'red': 413,
 'malone': 324,
 'niggah': 360,
 'could': 151,
 'please': 392,
 'use': 537,
 'complete': 147,
 'sentences': 435,
 'arizonasfinest6': 51,
 'why': 563,
 'eggplant': 195,
 'emoji': 197,
 'doe': 177,
 'looked': 314,
 'scream': 430,
 'lmao': 311,
 'autoworid': 58,
 'hennessey': 256,
 'venom': 540,
 'gt': 241,
 '128584': 6,
 'i8egmnkaj9': 275,
 'sexy': 437,
 'bossbytchh': 93,
 'seh': 432,
 'then': 500,
 'shower': 445,
 'curtain': 158,
 'ahmesehwetness': 33,
 'lt': 319,
 'bro_hen314': 100,
 'eaglesnation': 191,
 'every': 200,
 'eagles': 190,
 'pic': 384,
 'posted': 395,
 'because': 71,
 'racist': 408,
 'bvsedchink': 110,
 'yo': 585,
 'skateboarding': 455,
 'wood': 568,
 'pushing': 401,
 'faggots': 207,
 'ball': 66,
 'life': 305,
 'vbczp6hmt7': 539,
 'amjemiebenn': 42,
 'babyanimalpics': 62,
 'baby': 61,
 'monkey': 341,
 'bathtime': 67,
 '7kpwadlf0r': 17,
 'awwwwe': 59,
 'soooo': 466,
 'adorable': 29,
 'baylaagottabody': 68,
 'damn': 165,
 'skippy': 457,
 'beeasyjrizzy': 72,
 'kill': 298,
 'ant': 47,
 'sidewalk': 450,
 'was': 550,
 'way': 552,
 'bs': 105,
 'must': 349,
 '30': 14,
 'chance': 132,
 'beenbasedb': 74,
 '_kudabrazyy': 24,
 'luubgl9y5u': 321,
 'rings': 419,
 'mvps': 350,
 'beenflynsolo': 75,
 'ppl': 397,
 'ghetto': 232,
 'hood': 268,
 'kid': 296,
 'growing': 240,
 'had': 243,
 'funnnnnnn': 222,
 'bestproadvice': 76,
 'facts': 204,
 'tattoos': 484,
 'tattoo': 482,
 'zwnbhpdz8e': 589,
 'tattooing': 483,
 'nipples': 364,
 'bill215_': 79,
 '128175': 1,
 'nel_ayden': 354,
 'wanting': 549,
 'cuteeeee': 162,
 'bitchjones92': 84,
 'worshiping': 571,
 'r37cejcjou': 406,
 'blackchiquitita': 87,
 'wow': 575,
 'thatmanpalmer': 495,
 'lost': 317,
 'those': 508,
 'buttcheek': 109,
 'piercings': 387,
 'yn6guyouq6': 584,
 'yeah': 580,
 'blacknerdjade': 89,
 'ok': 372,
 'sis': 453,
 'rather': 409,
 'shrugs': 446,
 'works': 570,
 'blackman38tide': 88,
 'whalelookyhere': 556,
 'howdydowdy11': 272,
 'queer': 404,
 'gaywad': 229,
 'brokenpiecesmsc': 102,
 'itsnotadam': 287,
 'faggot': 206,
 'read': 411,
 'tweets': 527,
 'after': 32,
 'wasn': 551,
 'funny': 223,
 'brosconfessions': 103,
 'ungrateful': 532,
 '06e77bgwbx': 0,
 'fr': 216,
 'lulwhore': 320,
 'cashandboobies': 122,
 'been': 73,
 'kidnapped': 297,
 'cb_baby24': 127,
 'white_thunduh': 561,
 'alsarabsss': 40,
 'hes': 260,
 'beaner': 70,
 'mexican': 333,
 'ccobey': 128,
 'aydanmccoy': 60,
 'happy': 244,
 'birthday': 81,
 'nigs': 362,
 'thanks': 493,
 'chlldhoodruiner': 137,
 'when': 559,
 'teacher': 485,
 'tells': 490,
 'homework': 267,
 'https': 274,
 'rkk5vawij1': 421,
 'caelang15': 114,
 '22edham': 12,
 'eating': 194,
 'hell': 254,
 'john': 290,
 'paul': 383,
 'osipbkpr9h': 379,
 'canifuckornah': 118,
 'lil': 308,
 'ugly': 531,
 'bald': 65,
 'headed': 251,
 'stop': 473,
 'making': 323,
 'weave': 554,
 'carelessone92': 121,
 'leafs': 303,
 'win': 564,
 'riot': 420,
 'earlychristmas': 192,
 'looting': 315,
 'nig': 358,
 'causewereguys': 126,
 'sucks': 476,
 'more': 342,
 'attend': 57,
 'j906t5ze2r': 288,
 'year': 581,
 'celeynichole': 129,
 'come': 144,
 'food': 214,
 'car': 120,
 'retard': 415,
 'chadmfverbeck': 130,
 'richnow': 418,
 'doesn': 179,
 'show': 444,
 'hella': 255,
 'tinder': 510,
 'friend': 217,
 'anymore': 48,
 'chill': 136,
 'brought': 104,
 'prople': 400,
 'chandlerparsons': 133,
 'cowboys': 153,
 'shutup': 448}

In [24]:
tweets = dt_transformed[['tweet']]
type(tweets)

pandas.core.frame.DataFrame

In [31]:
[tweet for tweet in dt_transformed['tweet']]

list